
  
  h1 {
    text-align:center;
    font-size: 4cm;
  }
  body {
    background-color:#b0cac7;
  }

  .content {
    height:200px;
    width:350px;
    border:2px solid black
  }
  .heading {
    height:100px;
  }
  .heading-text{
    text-decoration:underline;
    text-decoration-color:orange;
    font-family: 'Pacifico', cursive;
  }
  .Lufhtansa {
    background-color:orange;
  }
  .SA {
    background-color:#0f4c75;
  }
  .Emirates{
  background-color:#D71921;
  }
  
  .Qatar{
  background-color:#861159;
  }
